// Colores ------------------------------>

// Black scale
$color-1: rgba(0, 0, 0, 1); // Negro
$color-2: rgba(23, 23, 23, 1); // Gris oscuro
$color-3: rgba(76, 76, 76, 1); //  Gris claro
$color-10: rgba(231, 231, 231, 0.596); //  Gris ultra claro

// White
$color-4: rgba(255, 255, 255, 1); // Blanco

// Violet scale
$color-5: rgba(233, 221, 238, 1); // Violeta claro
$color-6: rgba(128, 0, 92, 1); // Violeta oscuro
$color-7: rgba(153, 64, 129, 0.6); // Violeta 60% opacidad

// Watergreen scale
$color-8: rgba(7, 144, 145, 1); // Verde agua
$color-9: rgba(2, 161, 161, 1); // Verde agua claro
