@mixin texts ($font-family, $font-size, $color, $font-weight){
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    font-weight: $font-weight;
  }

@mixin h1 {
    @media screen and (max-width: 1200px) {
      font-size: $size-2;
    }
  
    @media screen and (max-width: 920px) {
      font-size: $size-3;
    }
  
    @media screen and (max-width: 700px) {
      font-size: $size-5;
    }
  }

  
  @mixin h2 {
    @media screen and (max-width: 920px) {
      font-size: $size-6;
    }
  
    @media screen and (max-width: 700px) {
      font-size: $size-7;
    }
  }
  
  @mixin h3 {
    @media screen and (max-width: 1200px) {
      font-size: $size-4;
    }
  
    @media screen and (max-width: 920px) {
      font-size: $size-5;
    }
  
    @media screen and (max-width: 700px) {
      font-size: $size-6;
    }
  }
  
  @mixin h4 {
    @media screen and (max-width: 920px) {
      font-size: $size-7;
    }
  
    @media screen and (max-width: 700px) {
      font-size: $size-8;
    }
  }
  
  @mixin countries-name {
    @media screen and (max-width: 1200px) {
      font-size: $size-8;
    }
  
    @media screen and (max-width: 920px) {
      font-size: $size-9;
    }
  
    @media screen and (max-width: 700px) {
      font-size: $size-6;
    }
  }